@import url(sanitize.css);

body, html {
    margin: 0;
    padding: 0;
    background-color: #ccc;
}

header {
    background-color: #a2c1ff;
    padding: 0 .5em;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.right-align {
    text-align: right;
    margin-left: auto;
}

.container {
    margin: 0 auto 10px;
    padding: 0.1em 0.6em;
    width: 99%;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0,0,0,.3);
}

#graph-container {
    /* Reset padding and margin */
    padding: 0;
    /* Ensure the div expands to fill its container */
    width: 100%;
    height: calc(100vh - 6.5em);
}

.bounded-svg {
    border: 0.125em solid #000; /* Set the border style */
     /* Ensure the SVG fills the entire parent div */
    width: 100%;
    height: 100%;
}

/* Add styles for the lines (edges) */
.link {
    stroke: #888;
    /* Line color (gray in this example) */
    stroke-width: 0.125em;
    /* Line width */
    z-index: 1;
}

/* Add styles for the nodes (vertices) */
.node {
    fill: #3498db;
    /* Node color (blue in this example) */
    position: relative;
    /* To establish a stacking context */
    z-index: 2;
    /* Make circle elements appear above text (use a higher value) */
    opacity: 0.5;
    /* Set the opacity to make the circle 50% transparent */
}

.bridge-node {
    fill: green;
}


.selected-node {
    fill: red;
    stroke: black;
}

.reachable-node {
    fill: orange;
}

.search-result-div {
    min-height: 20em; 
}

/* Style for text elements */
.node-label {
    font-family: Arial, sans-serif;
    /* Choose your preferred font */
    font-size: 1em;
    /* Adjust the font size */
    fill: black;
    /* Text color (change to your desired color) */
    text-anchor: middle;
    /* Center text horizontally on the node */
    dominant-baseline: middle;
    /* Center text vertically on the node */
    z-index: 0;
}

.invisible {
    display: none;
}

/* Style for the search input */
.s_input_sm {
    padding: 0.25em;
    border: 0.125em solid #ccc;
    border-radius: 0.25em;
    font-size: 0.875em;
    outline: none;
    margin: 0;
}

/* Style for the search input */
.s_input {
    padding: 0.625em;
    border: 0.125em solid #ccc;
    border-radius: 0.3125em;
    font-size: 1em;
    outline: none;
    margin: 0.25em;
    margin-top: 0.5em;
    flex-grow: 1;
}

/* Style for the search button */
.s_button_sm {
    background-color: #007BFF;
    color: #fff;
    border: 0.0625em solid #000;
    border-radius: 0.25em;
    padding: 0.375em 0.625em;
    font-size: 0.875em;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Change button background color on hover */
.s_button_sm:hover {
    background-color: #0056b3;
}

.s_button_search_result {
    background-color: #007BFF;
    color: #fff;
    border: 0.0625em solid #000;
    border-radius: 0.25em;
    width: 3em;
    padding: 0.375em 0.625em;
    font-size: 0.875em;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 0.625em
}

.s_button_search_result:hover {
    background-color: #0056b3;
}


/* Style for the search button */
.s_button {
    background-color: #007BFF;
    color: #fff;
    border: 0.0625em solid #000;
    border-radius: 0.3125em;
    padding: 0.625em 1.25em;
    margin-top: 0.125em;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Change button background color on hover */
.s_button:hover {
    background-color: #0056b3;
}

#graph-editor {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

table {
    border-collapse: collapse;
}
.search-result {
    margin-top: 0.3125em;
    margin-bottom: 0.3125em;
}
.search-result-row {
    border-bottom: 0.0625em solid #000;
}


.table-cell {
    padding-left: 0.5em; 
    padding-right: 0.5em; 
}

/* Adjust styles for mobile */
@media screen and (max-width: 768px) {
    /* Style for small screens (less than 768px wide) */
    /* Adjust font sizes, margins, and paddings as needed */
    body, html {
        font-size: 1.2em;
    }
    .container {
        padding: 0.5em;
    }

    #graph-container {
        min-height: 720px;
    }

    .bounded-svg {
        /* Adjust border width and other styles for smaller screens */
        border: 0.25m solid #000; 
    }

    
    .node-label {
        font-size: 0.75em;
    }

    .s_input_sm {
        font-size: 1em;
        width: 90%;
    }

    .s_input {
        font-size: 1em;
        width: 80%;
    }

    .checkbox {
        height: 1.5em;
        width: 1.5em;
    }

}